
@{
    ViewBag.Title = "ApplyLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<LMS_WebAPP_Domain.LeaveTransaction>
@{
    ViewBag.Title = "LeaveTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Leave Transaction</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="../../plugins/iCheck/all.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <!-- Content Wrapper. Contains page content -->
    <!-- Main content -->
    <section class="content-header" style="height:41px">
        <h1 class="col-md-9">
            Leave
            <small>apply leave</small>
        </h1>
        <div style="float:right" class="col-md-3">
            <button type="button" id="btnaddleave" class="btn btn-block btn-primary">Add Leave <i class="fa fa-plus"></i></button>

        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Submitted Date</th>
                                    <th>Status</th>
                                    <th>Number of working Days</th>
                                    <th>Leave Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (LMS_WebAPP_Domain.LeaveTransaction m in Model)
                                {

                                    <tr>
                                        <td>@m.FromDate.Date.ToString("dd/MM/yyyy")</td>
                                        <td>@m.ToDate.Date.ToString("dd/MM/yyyy")</td>
                                        <td>@m.CreatedDate.Date.ToString("dd/MM/yyyy")</td>
                                        <td>@(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.LeaveStatus)m.RefStatus))</td>
                                        <td>@m.NumberOfWorkingDays</td>
                                        <td>@(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.LeaveType)m.RefLeaveType))</td>
                                        @*<td>@m.RefLeaveType</td>*@
                                    </tr>


                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <div id="AddLeave"></div>
    <div class="example-modal">
        <div class="modal" id="AddLeaveModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Add Leave</h4>
                    </div>
                    <div class="modal-body" style="height:250px">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Leave Type</label>
                            </div>

                            <div class="col-md-12">
                                @foreach (var value in Enum.GetValues(typeof(LMS_WebAPP_Utils.LeaveType)))
                                {
                                    <div class="col-md-6">
                                        <input type="radio" name="r1" class="flat-red" value="@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType)value)">@(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.LeaveType)Convert.ToInt16((LMS_WebAPP_Utils.LeaveType)value)))
                                    </div>
                                }

                            </div>

                            <div class="col-md-12">
                                <label>Date range:</label>
                            </div>

                            <div class="input-group" style="padding-left:12px;padding-right:16px">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="leaveDatepicker">
                            </div>

                            <div class="col-md-12">
                                <label>Number Of Working Days:</label>
                                <span id="lblTotalWorkingDays"></span>
                            </div>

                            <div class="col-md-12">
                                <label>Leave Comments:</label>
                            </div>
                            <div class="col-md-12">
                                <textarea id="leaveComment" rows="3" style="width:539px" placeholder="Enter ..."></textarea>
                            </div>

                            <div>
                                
                            </div>
                        </div>
                    </div>

                                        <div class="modal-footer">
           <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnLeaveRequestSubmit" class="btn btn-primary">Submit</button>
        </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
    @*<div id="dialog" style="display: none" align="center">
            <section class="content">
                <div class="example-modal">
                    <div class="modal modal-primary">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Add Leave</h4>
                                </div>
                                <div class="modal-body">
                                    <p>One fine body&hellip;</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-outline">Save</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>
                <!-- /.example-modal -->

            </section>
        </div>*@
    <!-- /.content -->
    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    <script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="../../plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- page script -->
    <script src="~/plugins/daterangepicker/moment.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>*@
    <script src="../../plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="../../plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="../../plugins/iCheck/icheck.min.js"></script>

    <script>
        var fromDate;
        var toDate;
        $(document).ready(function () {
            $(function () {
                $("#example1").DataTable();
                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false
                });
                $('#leaveDatepicker').daterangepicker(
                    {
                        minDate: new Date()
                    });
                $('#leaveDatepicker').on('apply.daterangepicker', function (ev, picker) {

                    var start = picker.startDate;
                    fromDate = start.format('YYYY-MM-DD');
                    var end = picker.endDate;
                    toDate = end.format('YYYY-MM-DD');
                    var days = (end - start) / (1000 * 60 * 60 * 24);

                    var weekend_count = 0;
                    for (i = start.valueOf() ; i <= end.valueOf() ; i += 86400000) {
                        var temp = new Date(i);
                        if (temp.getDay() == 0 || temp.getDay() == 6) {
                            weekend_count++;
                        }
                    }
                    days = days - weekend_count
                    $("#lblTotalWorkingDays").html(Math.round(days));
                });
            });


            $('#btnaddleave').on('click', function () {

                $('#AddLeaveModal').modal('show');
            });
        });

        $("#btnLeaveRequestSubmit").on('click', function () {
           
            var comments = $("#leaveComment").val();
            fromDate = fromDate;
            toDate = toDate;
            var leaveType = $('input[name=r1]:checked').val();
            var workingDays = $("#lblTotalWorkingDays").html();
            $.ajax({
                cache: false,
                type: 'post',
                url: '/ApplyLeave/SubmitLeaveRequest',
                data: { leaveType: leaveType, fromDate: fromDate, toDate: toDate, comments: comments, workingDays: workingDays },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#AddLeaveModal').modal('hide');
                    location.reload();
                }
            });
        }
        );
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
    </script>
</body>
</html>





